body {
  background-image: url("http://www.pptbackgroundstemplates.com/backgrounds/Crisis-Business-Concept-PPT-Backgrounds.jpg");
  no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
